<footer class="site-footer">
  <div class="container site-footer-wrap">
      <div class="footer-logo">
        <img src="https://livedemo00.template-help.com/wt_prod-16368/images/logo-181x25.png" alt="" class="header-logo__pic">
      </div>
      <nav class="footer-menu">
        <a href="#/" class="footer-menu__link">Главная</a>
        <a href="#/" class="footer-menu__link">О нас</a>
        <a href="#/" class="footer-menu__link">Услуги</a>
        <a href="#/" class="footer-menu__link">Галерея</a>
        <a href="#/" class="footer-menu__link">Блог</a>
        <a href="#/" class="footer-menu__link">Контакты</a>
      </nav>
    </div>
    <div class="footer-develop">
      <p class="footer-develop__content">© 2019 сайт разработан <a href="/" class="webrunn-link">webrunn</a></p>
    </div>
</footer>