<header class="site-header">
  <div class="header-content">
    <div class="container header-wrap">
      <div class="header-logo">
        <img src="https://livedemo00.template-help.com/wt_prod-16368/images/logo-181x25.png" alt="" class="header-logo__pic">
      </div>
      <a href="#my-menu" class="hamburger hamburger--elastic" type="button">
        <span class="hamburger-box"><span class="hamburger-inner"></span></span>
      </a>
      <nav id="my-menu">
        <ul>
          <li> <a href="#/">Услуги</a></li>
          <li> <a href="#/">Обо мне</a></li>
          <li> <a href="#/">Порфолио</a></li>
          <li> <a href="#/">Контакты</a></li>
          <li> <a href="#/">Блог</a></li>
       </ul>
      </nav>
    </div>
  </div>
</header>
