 <!-- Первый экран -->

<section class="site-section site-mainscreen">
  <div class="container mainscreen-wrap">
    <div class="mainscreen-content">
      <div class="mainscreen-heading">
        <div class="mainscreen__big-title"><p class="big-title__text">DARK</p><span class="big-title__text--rotate">INK</span></div>
        <h1 class="mainscreen__title title-one">Тату салон</h1>
        <p class="mainscreen__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto quis asperiores sint esse cum alias! Lorem ipsum</p>
        <a href="#/" class="mainscreen__main-btn main-btn">Подробнее</a>
      </div>
    </div>
    <div class="mainscreen-contacts mainscr-cont">
      <div class="mainscr-cont-content">
        <p class="mainscr-cont__text">Номер телефона:</p>
        <a href="tel:#" class="mainscr-cont__link">+7(027)777-17-17</a>
      </div>
      <div class="mainscr-cont-content">
        <p class="mainscr-cont__text">Наш адрес:</p>
        <a href="tel:#" class="mainscr-cont__link">Спб, Невский пр. 23</a>
      </div>
    </div>
  </div>
</section>

 <!-- Галерея -->

<section class="site-section ourgallery">
  <div class="container container-ourgallery">

    <div class="ourgallery-gallery">
      <hr class="ourgallery__hr">
      <div class="ourgallery-img">
        <div class="owl-carousel owl-theme">
          <div class="ourgallery-img-item">
            <img src="https://livedemo00.template-help.com/wt_prod-16368/images/home-5-1-270x389.jpg" alt="фотография работы" class="ourgallery__slide ourgallery__slide--pic1">
          </div>
          <div class="ourgallery-img-item">
            <img src="https://livedemo00.template-help.com/wt_prod-16368/images/home-5-2-270x389.jpg" alt="фотография работы" class="ourgallery__slide ourgallery__slide--pic2">
          </div>
        </div>
        <div class="ourgallery-rotatetxt">
          <p class="ourgallery-rotatetxt__text">Наша галерея</p>
        </div>
      </div>
    </div>

    <div class="ourgallery-text">
      <div class="ourgallery-heading">
        <h2 class="ourgallery-text__title title-second line-heading">О нашем <br> салоне</h2>
        <p class="ourgallery-text__par">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab repellat id dolore!</p>
        <p class="ourgallery-text__par ourgallery__par--darker">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam rem autem cupiditate repellendus tempore. Lorem ipsum dolor sit amet consectetur.</p>
        <img src="https://livedemo00.template-help.com/wt_prod-16368/images/home-1-148x61.png" alt="Авторская подпись" class="ourgallery-text__sub">
      </div>
    </div>

  </div>
</section>

<!-- Услуги -->

<section class="site-section whatwedo">
    <div class="container whatwedo-wrap">

      <div class="whatwedo-left">
        <div class="title-second line-heading">Что мы делаем</div>
        <div class="whatwedo-serv">
          <div class="whatwedo-serv-item serv-item">
            <div class="serv-item__icon"></div>
            <h3 class="title-third"></h3>
            <p class="serv-item__text"></p>
          </div>
        </div>
      </div>

      <div class="whatwedo-right">

      </div>
    </div>
  </section>