<section class="site-section site-mainscreen">
  <div class="container mainscreen-wrap">
    <div class="mainscreen-content">
      <div class="mainscreen-heading">
        <div class="mainscreen__big-title"><p class="big-title__text">DARK</p><span class="big-title__text--rotate">INK</span></div>
        <h1 class="mainscreen__title title-one">Тату салон</h1>
        <p class="mainscreen__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto quis asperiores sint esse cum alias! Lorem ipsum</p>
        <a href="#/" class="mainscreen__main-btn main-btn">Подробнее</a>
      </div>
    </div>
    <div class="mainscreen-contacts mainscr-cont">
      <div class="mainscr-cont-content">
        <p class="mainscr-cont__text">Номер телефона:</p>
        <a href="tel:#" class="mainscr-cont__link">+7(027)777-17-17</a>
      </div>
      <div class="mainscr-cont-content">
        <p class="mainscr-cont__text">Наш адрес:</p>
        <a href="tel:#" class="mainscr-cont__link">Спб, Невский пр. 23</a>
      </div>
    </div>
  </div>
</section>
<section class="site-section ourgallery">
  <div class="container container-ourgallery">
    <div class="ourgallery-gallery">
      
    </div>
    <div class="ourgallery-content">
      <div class="ourgallery-heading">
        <h2 class="title-second">О салоне</h2>
        <p class="ourgallery__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab repellat id dolore!</p>
        <p class="ourgallery__text ourgallery__text--darker">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam rem autem cupiditate repellendus tempore.</p>
      </div>
    </div>
  </div>
</section>