
///////////////////////////////////////////
// Главная секция
///////////////////////////////////////////

.site-mainscreen
  min-height: 100vh
  background-image: url(https://livedemo00.template-help.com/wt_prod-16368/images/slide-5-1-1920x880.jpg)
  background-repeat: no-repeat
  background-size: cover
  background-position: top center right
  display: flex
  align-items: center
.mainscreen-wrap
  display: flex
  justify-content: flex-start
  flex-direction: column
  align-items: center
  padding-top: 100px
  width: 100%
.mainscreen-content
  width: 100%
.mainscreen-heading
  letter-spacing: 0.02em
  width: 58%
.mainscreen__big-title
  display: flex
  justify-content: flex-start
.big-title__text
  font-size: 150px
  color: $accent
  font-weight: 700
  margin: 0
  margin-right: 10px
  line-height: 1
  margin-left: -14px
.big-title__text--rotate
  color: #fff
  font-size: 60px
  font-weight: 600
  transform: rotate(-90deg)
.mainscreen__title
  text-transform: uppercase
  letter-spacing: 4px
  margin-top: 0
  
.mainscreen-contacts
  display: flex
  margin-top: 40px
  justify-content: center
  font-size: 14px
  letter-spacing: 1px
.mainscr-cont-content
  display: flex
  margin: 40px
  flex-wrap: wrap
.mainscr-cont__text
  color: $accent
  letter-spacing: -0.5px
  margin-right: 10px
  margin-bottom: 0
  margin-top: 0
.mainscr-cont__link
  color: #fff
  transition: 0.3s
  text-decoration: none
.mainscr-cont__link:hover
  color: $accent
  
@media (max-width: 820px)
  .mainscreen-heading
    width: 99%
  .mainscreen__text
    width: 60%
@media (max-width: 620px)
  .big-title__text
    font-size: 120px
  .big-title__text--rotate
    font-size: 48px
  .mainscreen__title
    font-size: 47px
  .mainscr-cont-content
    margin: 15px
@media (max-width: 475px)
  .big-title__text
    font-size: 70px
    margin-left: -8px
  .big-title__text--rotate
    font-size: 26px
  .mainscreen__title
    font-size: 25px
  .mainscreen__text
    font-size: 14px
    width: 90%
  .mainscreen-contacts
    flex-wrap: wrap
  .mainscr-cont-content
    max-width: 200px

///////////////////////////////////////////
// Cекция галерея
///////////////////////////////////////////

.about-wrap
  display: flex
  justify-content: center
  flex-wrap: wrap
.about-gallery
  position: relative
.about__hr
  width: 46px
  height: 1px
  background-color: $accent
  border: none
  
.about-img
  display: flex
  padding-right: 50px
  width: 40%
.about__slide
  margin: 5px
.about-rotatetxt
  transform: rotate(-90deg)
  position: absolute
  right: -60px
  top: 200px
  font-weight: 800
  text-transform: uppercase
  color: $darker
  letter-spacing: 2px
.about-rotatetxt__text
  font-size: 18px
.about-text
  width: 35%
.about-heading
  position: relative
.about__par--darker
  color: $darker
.about-text__sub
  position: absolute
  right: 0
  padding: 10px
  

@media (max-width: 970px)
  .about-wrap
    flex-direction: column
  .about-img
    justify-content: center
    width: 100%
    position: relative
    padding-right: 0
  .about-rotatetxt
    display: none
  .about-text
    width: 90%
  
@media (max-width: 570px)
  .about-img
    display: none
  .about__hr
    display: none

///////////////////////////////////////////
// Услуги
///////////////////////////////////////////

.whatwedo
  padding-top: 60px
.whatwedo-wrap
  display: flex
  justify-content: space-between
  align-items: center
.whatwedo-serv
  display: flex
  flex-wrap: wrap
  
.whatwedo-serv-item
  width: 46%
  margin: 5px
.serv-item-heading
  display: flex
  align-items: center
  margin-bottom: 10px
.serv-item__icon
  fill: $accent
  margin-right: 30px
.serv-item__title
  font-weight: 700
  text-decoration: none
  color: #fff
  transition: 0.3s
.serv-item__title:hover
  color: $accent
.serv-item__text
  color: $darker
  
  
@media (max-width: 970px)
  .whatwedo-right__pic
    display: none
@media (max-width: 535px)
  .whatwedo-serv-item
    width: 100%
  .serv-item__icon
    width: 40px

///////////////////////////////////////////
// Персонал
///////////////////////////////////////////

.staff-heading
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
.staff-item
  position: relative
  margin: 5px
.staff-item-content
  position: absolute
  background: #1d1d1d
  bottom: 0
  left: 0
  right: 0
  text-align: center
  padding: 25px 15px
  box-shadow: 0 3px 0 0 #f13f3f
  margin-bottom: -10px
  overflow: hidden
  transition: all 0.7s
.staff-item-content__name
  color: #fff
  text-decoration: none
  transition: all 0.4s
.staff-item-content__name:hover
  color: $accent
.staff-item-content__post
  margin-top: 10px
.staff-item:hover
  .staff-item-content
    margin-bottom: 0
    transition: all 0.7s
    .staff-item-content-socmenu
      opacity: 1
      margin-bottom: 0
.staff-item-content-socmenu
  margin-bottom: -30px
  opacity: 0
  transition: all 0.7s
  .fab
    color: $accent
    transition: all .7s
    margin-left: 4px
    margin-right: 4px
    font-size: 18px
  .fab:hover
    color: #e22b2b
    

.staff-carousel
  .owl-dots
    margin-top: 50px

@media (max-width: 1000px)
  .staff
    margin-bottom: 60px
@media (max-width: 818px)
  .staff-heading
    margin-bottom: 20px
    
///////////////////////////////////////////
// Отзывы
///////////////////////////////////////////

.testimonials-carousel
  margin-top: 60px
.testimonials-item__icon
  fill: $darker
  opacity: 0.1
  margin-bottom: 20px
.testimonials-item__text
  line-height: 1.6
  opacity: 0.7
.testimonials-human
  display: flex
.owl-carousel 
  .owl-item
    .testimonials-human__avatar
      width: 90px
      height: 90px
      border-radius: 50%
      margin-right: 20px
.testimonials-human__footer
  opacity: 0.4

///////////////////////////////////////////
// Форма
///////////////////////////////////////////
.connect
  margin-bottom: 0
.connection-wrap
  display: flex
  justify-content: space-between
  align-items: center
.connect__pic
  margin-right: 80px
.connect-form
  display: flex
  flex-direction: column
  margin-bottom: 40px
.connect-form__input
  margin: 5px
  width: 60%
  height: 40px
  margin-left: 0
  background: none
  border: 1px solid $accent
  border-radius: 2px
  color: $darker
  font-family: 'Montserrat', sans-serif
  font-weight: 500
  padding-left: 20px
  font-size: 15px
.connect-form__message
  height: 120px
  margin-top: 20px
  min-height: 40px
  max-width: 60%
.connect-form__btn
  background: none
  border: none

@media (max-width: 1180px)
  .connect__pic
    margin-right: 0
@media (max-width: 1080px)
  .connect-form__input
    width: 90%
  .connect-form__message
    max-width: 90%
@media (max-width: 975px)
  .connect__pic
    display: none
  .connect-form
    width: 80%

///////////////////////////////////////////
// Галерея
///////////////////////////////////////////

.gallery-heading
  display: flex
  justify-content: space-between
  align-items: center
.gallery-heading__link
  color: #fff
  transition: 0.3s
  padding-top: 10px
  font-weight: 500
  font-size: 18px
.gallery-heading__link:hover
  color: $accent

@media (max-width: 600px)
  .gallery-carousel
    .owl-dots
      margin-top: 55px
  .gallery-heading
    flex-direction: column
    align-items: flex-start
  .gallery-heading__link
    margin-bottom: 20px
    padding-left: 28px